<form action="/formRobot/execScript/" method="post">
    {% csrf_token %}
    <textarea tabindex="-1" name="code" cols="150" rows="30" required="" id="id_code"></textarea>
    <input type="submit" value="Submit">
</form>

<script>
    document.querySelector('#id_code').addEventListener('keydown', e => {
        if ( e.key === 'Tab' && !e.shiftKey ) {
            // execCommand operations are "Cmd|Ctrl+Z"-able
              // note: execCommand is deprecated and may not work in the future
            document.execCommand('insertText', false, "\t");
            e.preventDefault();
            return false;
        }
    });
</script>